@import "tailwindcss";

/* ---- THEME VARIABLES (THIS REPLACES tailwind.config.js) ---- */
@layer theme {
  :root {
    --color-primary: #7f13ec;
    --color-background-dark: #141118;
    --color-surface-dark: #1e1926;
    --color-surface-darker: #191520;
    --color-border-dark: #302839;
    --color-muted: #ab9db9;
  }
}

/* ---- BASE STYLES ---- */
@layer base {
  html,
  body {
    background-color: var(--color-background-dark);
    color: white;
    font-family: "Space Grotesk", "Noto Sans", sans-serif;
  }
}


/* ===== Custom Scrollbar ===== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 42, 100, 0.6) transparent;
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.6);
  border-radius: 10px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 42, 100, 0.6);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

